# Folders

crash-reports
journeymap
logs
saves
screenshots
shaderpacks

# Files

*.curseclient
minecraftinstance.json
minetweaker.log
MTUtilsData.nbt
options.txt
optionsnf.txt
usernamecache.json
plans/secret/secrets.txt
OpenComputersMod-1.8.6-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.6-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.6-54-libjnlua54-windows-x86_64.dll
