# Folders

crash-reports
journeymap
logs
saves
screenshots
shaderpacks

# Files

*.curseclient
minecraftinstance.json
minetweaker.log
MTUtilsData.nbt
options.txt
optionsnf.txt
usernamecache.json
plans/secret/secrets.txt
